
<IfModule mod_php5.c>
    php_value post_max_size 15M
    php_value upload_max_filesize 12M
    php_value memory_limit 64M
    php_value max_execution_time 259200
    php_value max_input_time 259200
    php_value session.gc_maxlifetime 7200
    php_value display_errors 0
    php_value register_globals 0
</IfModule>

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php)

# otherwise forward it to index.php
RewriteRule ^(.+)$ index.php?$1 [PT,L,QSA]

<ifModule mod_deflate.c>
    SetOutputFilter DEFLATE
</ifModule>